# Garmin Connect Authentication
# Garmin Connect OAuth/Session Token JSON string (required).
# You must retrieve this by running `PYTHONPATH=. uv run python scripts/get_garmin_token.py`
GARMIN_TOKEN=

# Garmin Connect Region Settings
# Set to 'True' if you are using a Garmin account registered in Mainland China (garmin.com.cn)
# Default is False
GARMIN_IS_CN=False

# Local path where OAuth tokens and cookies will be cached to avoid recurrent logins/MFA.
# Tokens will be stored in this directory. Highly recommended to keep this inside your .gitignore!
GARMIN_TOKEN_PATH=.garminconnect/garmin_tokens.json
