# Garmin Connect Credentials
# Replace with your actual email address used to log into Garmin Connect
GARMIN_EMAIL=your_email@example.com

# Replace with your actual Garmin Connect password
GARMIN_PASSWORD=your_secure_password

# Garmin Connect Region Settings
# Set to 'True' if you are using a Garmin account registered in Mainland China (garmin.com.cn)
# Default is False
GARMIN_IS_CN=False

# Local path where OAuth tokens and cookies will be cached to avoid recurrent logins/MFA.
# Tokens will be stored in this directory. Highly recommended to keep this inside your .gitignore!
GARMIN_TOKEN_PATH=.garminconnect/garmin_tokens.json
